[
{calcjs,
    [{http_port, 8003},
     {admin_port, 8004},
     {table_wait_timeout, 5000}
]},
{mnesia,
    [{dir, "db"}]
},
{lager,
    [{colored, true},
     {handlers, [
         {lager_console_backend, info},
         {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
         {lager_file_backend, [{file, "log/console.log"}, {level, info}]},
         {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]}
     ]}
]}].
